{% extends "layout.html" %}
{% block content %}
<div class="container">
	<ol id="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="index.html" class="home"><span itemprop="name"></span></a>
			<span itemprop="position" content="1"><i class="fa fa-angle-right"></i></span>
		</li>
		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" href=""><span itemprop="name">Hədiyyə kartları</span></a>
			<span itemprop="position" content="3"></span>
		</li>
	</ol>
	<div class="product_list_overlay">
		<div class="page_title_wrap">
			<h2 class="page_title">
				Hədiyyə kartları
			</h2>
			<div class="filter_row">
				<select>
					<option class="placeholder">Sırala</option>
					<option>Yenidən köhnəyə</option>
					<option>Köhnədən yeniyə</option>
					<option>Ucuzdan bahaya</option>
					<option>Bahadan ucuza</option>
				</select>
			</div>
		</div>
        <div class="row product_list">
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/hediyye kartlari/card.png"></span>
                        <span class="title">Hədiyyə Kartı</span>
                        <span class="price">400.00</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/hediyye kartlari/card1.png"></span>
                        <span class="title">Hədiyyə Kartı</span>
                        <span class="price">500.00</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/hediyye kartlari/card2.png"></span>
                        <span class="title">Hədiyyə Kartı</span>
                        <span class="price">400.00</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/hediyye kartlari/card3.png"></span>
                        <span class="title">Hədiyyə Kartı</span>
                        <span class="price">300.00</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/hediyye kartlari/card4.png"></span>
                        <span class="title">Hədiyyə Kartı</span>
                        <span class="price">100.00</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/hediyye kartlari/card5.png"></span>
                        <span class="title">Hədiyyə Kartı</span>
                        <span class="price">200.00</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/hediyye kartlari/card3.png"></span>
                        <span class="title">Hədiyyə Kartı</span>
                        <span class="price">100.00</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/hediyye kartlari/card.png"></span>
                        <span class="title">Hədiyyə Kartı</span>
                        <span class="price">50.00</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}