{% extends "layout.html" %}
{% block content %}
<div class="container">
	<ol id="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="index.html" class="home"><span itemprop="name"></span></a>
			<span itemprop="position" content="1"><i class="fa fa-angle-right"></i></span>
		</li>
		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" href=""><span itemprop="name">Səbət</span></a>
			<span itemprop="position" content="2"></span>
		</li>
	</ol>
	<h2 class="page_title">Səbət</h2>
	<div class="basket_empty">
		<img src="images/empty_basket.svg" class="" />
		<p>Səbət boşdur!</p>
		<a href="index.html" class="back_homepage">Ana səhifəyə qayıt</a>
	</div>
</div>

{% endblock %}