{% extends "layout.html" %}
{% block content %}
<div class="container">
	<ol id="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="index.html" class="home"><span itemprop="name"></span></a>
			<span itemprop="position" content="1"><i class="fa fa-angle-right"></i></span>
		</li>
		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" href=""><span itemprop="name">Yeni Məhsullar</span></a>
			<span itemprop="position" content="3"></span>
		</li>
	</ol>
	<div class="product_list_overlay">
		<div class="page_title_wrap">
			<h2 class="page_title">Yeni Məhsullar</h2>
		</div>
        <div class="row product_list">
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img width="132" src="images/product.svg"></span>
                        <span class="title">Rəngli Stul - Yaşıl</span>
                        <span class="price">59.90</span>
                    </a>
                    <a class="shopping_cart"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
		<div><a class="prev"><img src="images/right-arrow7.svg" /></a></div>
		<ul>
			<li><a>1</a></li>
			<li class="active"><a>2</a></li>
			<li><a>3</a></li>
			<li><a>4</a></li>
			<li><a>5</a></li>
		</ul>
		<div><a class="next"><img src="images/right_arrow.svg" /></a></div>
	</div>
</div>

{% endblock %}